* {
  font-family: "Roboto", sans-serif;
}
* header {
  position: relative;
  height: 50px;
}
* nav {
  background: #212121;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
* .hamburger {
  display: none;
}
* a {
  color: #fff;
  text-decoration: none;
}
* .menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  margin: 0;
  list-style-type: none;
}
* .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}
* .menu_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
* .menu_link:hover::after {
  width: 100%;
  left: 0;
}
* .menu_item {
  border-right: 2px dotted black;
  padding-right: 30px;
  transition: 0.3 all;
  position: relative;
}
* .menu_item:last-child {
  border-right: none;
}
* .subheader {
  background: rgba(0, 0, 0, 0.6);
  top: 50px;
  height: 85px;
  position: absolute;
  width: 100%;
}
* .subheader .uber_logo {
  margin-top: 18px;
}
* .subheader .logo_descr {
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 100;
  font-size: 13px;
}
* .phone_descr {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
  margin-top: 19px;
}
* .subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: right;
}
* .btn {
  margin-left: 18px;
  margin-top: 22px;
  width: 172px;
  height: 46px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 8px 5px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
}
* .btn:hover {
  background: none;
  background-color: #1EACC7;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
}
* .promo {
  height: 800px;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
}
* .promo_header {
  margin-top: 118px;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}
* .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
* .promo_descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
* .promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
* .promo_btn:hover {
  background: none;
  background-color: #1EACC7;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
}
* .reasons {
  min-height: 845px;
  padding: 14px 0 64px 0;
}
* .label {
  position: relative;
  background: #000000;
  margin: 0 auto;
  padding: 5px 5px 5px 6px;
  width: 115px;
  height: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  z-index: 2;
}
* .label_white {
  background-color: #fff;
  color: #070716;
}
* .title {
  position: relative;
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
* .title_white {
  color: #FFFFFF;
  margin-bottom: 0;
}
* .subtitle {
  position: relative;
  z-index: 2;
  color: #222222;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}
* .subtitle_white {
  color: #FFFFFF;
}
* .item {
  display: flex;
  margin-top: 26px;
  justify-content: center;
  align-items: center;
}
* .item .elips {
  background-color: #1EACC7;
  border-radius: 100%;
  margin-right: 26px;
  width: 116px;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .item_img {
  display: block;
  margin: 0 auto;
}
* .item_text {
  width: 371px;
  height: 150px;
}
* .item_text_2 {
  width: 341px;
}
* .item_text_3 {
  width: 371px;
}
* .item_text_4 {
  width: 339px;
}
* .item_text_5 {
  width: 372px;
}
* .item_text_6 {
  width: 339px;
}
* .item_text_7 {
  width: 371px;
}
* .item_text_8 {
  width: 341px;
}
* .item_header {
  color: #1EACC7;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
* .item_descr {
  color: #202020;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}
* .mobile {
  min-height: 865px;
  padding: 46px 0 85px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
* .mobile_item {
  position: relative;
  padding-top: 85px;
  margin-top: 30px;
  text-align: center;
  width: 320px;
  height: 280px;
}
* .mobile_item_1 {
  background: url("../icons/Section 3/Card 1.jpg") center center/cover no-repeat;
}
* .mobile_item_2 {
  background: url("../icons/Section 3/Card 2.jpg") center center/cover no-repeat;
}
* .mobile_item_3 {
  background: url("../icons/Section 3/Card 3.jpg") center center/cover no-repeat;
}
* .mobile_item_4 {
  background: url("../icons/Section 3/Card 4.jpg") center center/cover no-repeat;
}
* .mobile_item_5 {
  background: url("../icons/Section 3/Card 5.jpg") center center/cover no-repeat;
}
* .mobile_item_6 {
  background: url("../icons/Section 3/Card 6.jpg") center center/cover no-repeat;
}
* .mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
* .mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  margin: 0 auto;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
* .mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.5s all;
}
* .mobile_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
* .mobile_item_plus:hover::before, * .mobile_item_plus:hover::after {
  background-color: #FF5656;
}
* .choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
* .choice_img {
  position: relative;
  display: block;
  margin: 141px auto -84px auto;
  z-index: 2;
}
* .choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
* .choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}
* .require {
  padding: 60px 0 87px 0;
}
* .require_block {
  margin: 33px 0;
}
* .require_block_nmb {
  margin-bottom: 0;
}
* .require_title {
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}
* .require_descr {
  font-weight: 300;
  font-size: 17px;
  color: #1CA8C3;
}
* .require_list {
  list-style-type: none;
  padding-left: 50px;
  margin: 20px 0;
}
* .require_list li {
  position: relative;
  font-weight: 300;
  color: #222222;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 7px;
}
* .require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/Section 5/check_blue 1.png") center center/cover no-repeat;
}
* .require .warning .require_title {
  color: #FF5656;
}
* .require .warning .require_list li::before {
  background: url("../icons/Section 5/check_red 1.png") center center/cover no-repeat;
}
* .cities {
  background: url("../img/world_bg.jpg") center center/cover no-repeat;
  min-height: 715px;
  padding: 48px 0 22px 0;
}
* .cities .all_cities {
  display: block;
  text-align: center;
  margin-top: 456px;
  color: #1FBAD6;
  text-transform: uppercase;
}
* .cities .all_cities:hover {
  opacity: 0.8;
}
* footer {
  min-height: 155px;
  padding: 11px 21px 44px 24px;
}
* footer a:hover {
  text-decoration: none;
}
* .footer_divider {
  width: 301px;
  height: 7px;
  background: #1FBAD6;
  margin: 0 auto;
}
* .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 29px;
}
* .footer_wrapper > div {
  width: 33%;
}
* .footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
* .footer_social_wrapper {
  display: flex;
}
* .footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background-color: #070716;
  cursor: pointer;
}
* .footer_social_item i {
  color: #fff;
}
* .footer_links_wrapper {
  width: 390px;
  margin: 0 auto;
}
* .footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
* .footer_links_main a {
  font-weight: 300;
  font-size: 15px;
  color: #070716;
  text-transform: uppercase;
}
* .footer_links_main a:hover {
  opacity: 0.7;
}
* .footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
* .footer_links_sub a {
  font-weight: 300;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
* .footer_links_sub a:hover {
  opacity: 0.7;
}
* .footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1FBAD6;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 19px;
}
* .footer_links_lang:hover {
  opacity: 0.6;
}
* .footer_mobile_link {
  margin-left: 8px;
}
* .xs-visible {
  display: none;
}
@media (max-width: 1200px) {
  * .menu_item {
    padding-right: 20px;
  }
  * .menu_link {
    font-size: 13px;
  }
  * .promo_header {
    font-size: 50px;
  }
  * .item {
    align-items: flex-start;
  }
  * .item_text {
    width: 301px;
  }
  * .item_text_2 {
    width: 301px;
  }
  * .item_text_3 {
    width: 301px;
  }
  * .item_text_4 {
    width: 301px;
  }
  * .item_text_5 {
    width: 301px;
  }
  * .item_text_6 {
    width: 301px;
  }
  * .item_text_7 {
    width: 301px;
  }
  * .item_text_8 {
    width: 301px;
  }
  * .mobile_item {
    width: 300px;
  }
  * .footer_wrapper > div {
    width: 50%;
  }
  * .footer:nth-child(1) {
    width: 25%;
  }
  * .footer:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  * .footer_mobile {
    display: flex;
  }
  * .footer_mobile img {
    width: 100%;
  }
  * .footer_mobile_link {
    margin-left: 15px;
  }
}
@media (max-width: 991px) {
  * .menu_item {
    padding-right: 10px;
  }
  * .menu_link {
    font-size: 10px;
  }
  * .mobile_item {
    width: 225px;
  }
  * .choice_img {
    width: 100%;
  }
  * .logo_img {
    width: 100%;
  }
  * .logo_descr {
    font-size: 11px;
  }
  * .subheader_phone {
    font-size: 20px;
  }
  * .button {
    margin-top: 21px;
  }
  * .btn {
    width: 146px;
    height: 40px;
  }
  * .promo_header {
    font-size: 40px;
  }
  * .promo_subheader {
    font-size: 30px;
    margin-top: 15px;
  }
  * .promo_descr {
    margin-top: 40px;
  }
  * .item {
    align-items: center;
    flex-direction: column;
  }
  * .item_text {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_2 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_3 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_4 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_5 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_6 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_7 {
    margin-top: 20px;
    width: 301px;
  }
  * .item_text_8 {
    margin-top: 20px;
    width: 301px;
  }
  * .footer_wrapper {
    flex-wrap: wrap;
  }
  * .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  * .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  * .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
  * .footer_links {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  * .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s;
  }
  * .menu_active {
    left: 0;
  }
  * .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  * .menu_link {
    font-size: 20px;
  }
  * .hamburger {
    display: block;
    position: absolute;
    right: 0px;
    top: 34%;
    transform: translateX(-50%);
    width: 40px;
    height: 17px;
  }
  * .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    transition: 0.5s all;
  }
  * .hamburger_active {
    margin-top: 7px;
  }
  * .hamburger_active span {
    margin-bottom: -2px;
  }
  * .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  * .hamburger_active span:nth-child(2) {
    display: none;
  }
  * .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }
  * .xs-hidden {
    display: none;
  }
  * .xs-visible {
    display: block;
  }
  * .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-tranform: uppercase;
    text-align: center;
  }
  * .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */